# export PATH="${PATH}:/cygdrive/c/Program Files/Microsoft/jdk-17.0.2.8-hotspot/bin"
# export JAVA_HOME="/cygdrive/c/Program Files/Microsoft/jdk-17.0.2.8-hotspot"
# export PATH="${PATH}:/cygdrive/c/Users/songwan.FAREAST/local/apache-maven-3.8.4/bin"
